<div class="container">
    <div class="input-field col s6">
        <input type="text" [(ngModel)]="name_task" autofocus class="validate">
        <label for="name">Name</label>
    </div>
    <div class="input-field col s6">
        <input type="text" [(ngModel)]="date_task" class="validate">
        <label for="date">Date</label>
    </div>
    

    <div>
        <label>Priority</label>
        <select [(ngModel)]="prio_task" class="browser-default">
            <option value="" disabled selected>Choose your option the priority</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
        </select>
    </div>

    <br>
    <button class="btn waves-effect waves-light" type="button" (click)="add()">Send
        <i class="material-icons right">send</i>
    </button>
    <task-list></task-list>
</div>